.collection-item{
    display: flex;
    justify-content: space-between;
}

.material-icons{
    cursor: pointer;
    color: orange;
    margin-right: 5px;
}

.vote-box{
    display: flex;
    align-items: center;
}